Repository StarStrucks-Tech/Amaterasu, pull requests merged in 2024-07, with the labels that each got.

#18 Visual element screen/UI
  index.js
  package-lock.json
  package.json
  src/UI/Components/VisualComponent/styles.d.ts
  src/UI/Components/VisualComponent/visualElement.tsx
  src/Utilities/Constants.ts
Labels: Central Infra, Component

#17 Email Verification Screen /UI
  .gitignore
  App.tsx
  src/Assets/Colors.ts
  src/Assets/images/email_img.png
  src/Configs/color.tsx
  src/UI/Components/Button.tsx
  src/UI/Screens/EmailVerificationScreen/index.tsx
  src/UI/Screens/EmailVerificationScreen/styles.ts
  src/UI/Screens/Screen1.tsx
  src/UI/Screens/Screen2.tsx
  src/UI/Screens/SkipNomineeScreen/index.tsx
  src/UI/Screens/SkipNomineeScreen/styles.ts
Labels: Screen, Onboarding

#11 Consent Screens UI - BiometrcConsent, Terms&Conditions Consent, OtherConsents
  package-lock.json
  package.json
  src/UI/Components/ConsentScreenComp/OtherConsentComponent/index.tsx
  src/UI/Components/IconTextClickableComponent/index.tsx
  src/UI/Screens/ConsentScreens/BiometricConsent/index.tsx
  src/UI/Screens/ConsentScreens/BiometricConsent/styles.ts
  src/UI/Screens/ConsentScreens/Config.ts
  src/UI/Screens/ConsentScreens/Constants.ts
  src/UI/Screens/ConsentScreens/OtherConsent/index.tsx
  src/UI/Screens/ConsentScreens/OtherConsent/styles.ts
  src/UI/Screens/ConsentScreens/TermsConditions/index.tsx
  src/UI/Screens/ConsentScreens/TermsConditions/styles.ts
  src/UI/Screens/ConsentScreens/assets/Boat.png
  src/UI/Screens/ConsentScreens/assets/arrow.png
  src/UI/Screens/ConsentScreens/assets/location_image2.png
  src/UI/Screens/ConsentScreens/assets/notification_image.png
  src/UI/Screens/ConsentScreens/assets/padlock.png
  src/UI/Screens/ConsentScreens/assets/secure.png
  src/UI/Screens/ConsentScreens/assets/terms.png
  src/UI/Screens/ConsentScreens/assets/termsConditions1.png
  src/UI/Screens/ConsentScreens/assets/top1.png
Labels: Screen, Onboarding

#25 HomeScreen/Header
  src/UI-Constants/Constant.json
  src/UI/Components/AvatarCircle/index.tsx
  src/UI/Components/HomeHeader/index.tsx
  src/UI/Components/HomeHeader/styles.ts
Labels: Component, Home

#47 Common Components
  src/UI/Components/CommonComponents/Dummy.md
Labels: Component

#29 Created HomeScreen/QuickAction
  android/app/build.gradle
  package-lock.json
  package.json
  src/UI/Components/QuickAction/index.tsx
  src/UI/Components/QuickAction/style.tsx
Labels: Component, Home
